html, body, #root {
  height: 100%;
}
.App {
  height: 100%;
}

.ToolBar {
  display: flex;
  justify-content: space-between;
}
.NavBar {
  margin-bottom: 200px;
}
.films {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}